<footer id="contacts">
  <section class="container-footer">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h1>Contacts</h1>
      </div>



      <div class="col-sm-12 col-md-8 form-style-5">

  <form>
  <fieldset>
  <p>Let´s talk!</p>
  <input type="text" name="field1" placeholder="Your Name *">
  <input type="email" name="field2" placeholder="Your Email *">
  <textarea name="field3" placeholder="Your message"></textarea>
  </fieldset>

  <div class="button">
        <button type="submit">Send</button>
    </div>
  </form>


        <ul>
          <li>
            <a href="mailto:natali.do.nascimento@gmail.com?subject=feedback" target="_blank"><i class="fas fa-at"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/natali-nascimento-41281b40/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li><a href="https://www.behance.net/nanascimento" target="_blank"><i class="fab fa-behance"></i></a>
          </li>
          <li>
            <a href="https://medium.com/@natali.do.nascimento" target="_blank"><i class="fab fa-medium-m"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
