<footer id="contacts">
  <section class="container-footer">
    <div class="row">
      <div class="column column1">
        <h1>Contacts</h1>
      </div>
      <div class="column">
        <ul>
          <li>
            <a href="mailto:natali.do.nascimento@gmail.com?subject=feedback" target="_blank"><i class="fas fa-at"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/natali-nascimento-41281b40/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li><a href="https://www.behance.net/nanascimento" target="_blank"><i class="fab fa-behance"></i></a>
          </li>
          <li>
            <a href="https://medium.com/@natali.do.nascimento" target="_blank"><i class="fab fa-medium-m"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
