<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}


    {%- if titles_size > 0 -%}
    <div class="navbar">
    <a href="index.html" class="logo"> <img src="assets/images/logoNN.svg" alt=" logo Portfolio Natali Nascimento"> </a>
    <nav>
      <ul>
        <li><a href="#skills">SKILLS</a></li>
        <li><a href="#projects">WORK</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#contacts">CONTACTS</a></li>
      </ul>
    </nav>
  </div>


    {%- endif -%}
  </div>
</header>
