@import url('https://fonts.googleapis.com/css?family=Akronim');
$mytype: 'Akronim', cursive;
$brandcolor: #ff0c00;

body {
  font-family: $mytype;
}

a {
  color: $brandcolor;
}

h2 {
  color: $brandcolor;
}

.post-list {
  list-style: none;
  a {
    color: green;
  }
}
