@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$mytype: 'Montserrat', sans-serif;
$brandcolor: #4CAF50;

body {
  font-family: $mytype;
}

a {
  color: $brandcolor;
}

h2 {
  color: $brandcolor;
}

.post-list {
  list-style: none;
  a {
    color: green;
  }
}
